.center {
    display: flex;
    justify-content: center;
}

#grid {
    width: 960px;
    height: 960px;
    border-style: solid;
    border-color: blue;
    border-width: 10px;
}

.tile {
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
}

.trail {
    background-color: black;
}